.brand {
    padding: 3rem 0;
    text-align: center;
    svg {
        width: 48px;
        color: crimson;
    }
    h1 {
        font-size: 2.3rem;
        font-weight: 600;
    }
    p {
        color: steelblue;
        font-size: 14px;
    }
}